.register{
    background-image: url('../../assets/images/background-image.jpg');
    background-size: cover;
    font-family: 'Titillium Web', serif;
    margin: 0;
    padding: 0;
}

.form-register {
    display: flex;
    background-color: rgb(0, 0, 0,0.5);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.link-login {
    color: #fff;
    position: absolute;
    bottom: 280px;
}

.error-message {
    color: #F63346;
    position: absolute;
    top: 355px;
}