body {
    height: 100vh;
    background-color: #000;
}

.favorite-movie {
    padding: 12px 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.favorite-list {
    color: aliceblue;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 70px;
    list-style: nome;
    width: 100%;
    padding: 12px 6%;
}

.return {
    padding-right: 50px;
}