.navbar {
    background-color: #000;
    height: 70px;
    padding: 12px 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-title {
    color: #fff;
    font-size: 40px;
}

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fav-icon {
    padding: 0 10px;
}

.home-icon {
    padding: 0 10px;
}
