* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  color: #fff;
}

body::-webkit-scrollbar {
  width: 12px;            
}

body::-webkit-scrollbar-track {
  background: #080808;     
}

body::-webkit-scrollbar-thumb {
  background-color: #313131;  
  border-radius: 20px;    
  border: 3px solid #313131;
}



